[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*" #alembic
flask-sqlalchemy = "*" #sqlalchemy
importlib-metadata = "*"
importlib-resources = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
werkzeug = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
